tests/fixtures/webhook_ssrf_chain.json
{
  "id": "webhook-ssrf-001",
  "name": "Webhook SSRF Chain Workflow",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "execute",
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "node-code",
      "name": "Run Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "jsCode": "return items;"
      }
    },
    {
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Run Script", "type": "main", "index": 0}]]
    },
    "Run Script": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {}
}
